# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Trained models
models/*
vectorstore/*

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log